.pres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    color: white;
    padding: 3rem;
}

.concept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.witness {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lightyellow;
    color: $blue;
    padding: 3rem;
}