<div class="banner">

    <h1>MCTeaching</h1>
    <p class="f300">Cours particulier à domicile, mathématique et physique</p>
    <%= link_to "#" do %>
        <span class="btn-trans">S'identifier</span>
    <% end %>

</div>