.btn-base {
    border-radius: 16px;
    padding: .5rem 1rem;
    min-width: 10rem;
    transition: ease .5s;
    text-align: center;
}

.btn-trans {
    border: solid 1px white;
    color: white; 

    &:hover {
        background: white;
        color: $blue;
    }
}

.flat-yel {
    background-color: $yellow;
    color: $blue; 
}

.btn-yel {
    background-color: $yellow;
    color: $blue;

    &:hover {
        background: $blue;
        color: white;
    }
}

.btn-blue {
    background-color: $blue;
    color: white;

    &:hover {
        background: $lightblue;
        color: white;
    }
}

.btn-box {
    height: 5rem;
    display: grid;
    place-items: center;
}

a:hover {
    text-decoration:none;
}