.formbox {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
}

.yelbox {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightyellow;
}

.flex-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container-yel {
    color: $blue;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a {
        color: $blue;
    }

    button {
        background-color: $blue;
        color: white;
    }

    .btn {
        background-color: $blue;
        color: white;
    }

    h2 {
        font-family: $man-font;
    }
}

.form-container {
    color: white;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a {
        color: white;
    }

    button {
        background-color: $yellow;
        color: white;
    }

    .btn {
        background-color: $yellow;
        color: white;
    }

    h2 {
        font-family: $man-font;
    }
}

.form-actions {
    text-align: center;
}
