.author {
    font-size: .7rem;
}

.message {
    color: white;
    padding: .5rem;
    width: auto;
    border-radius: 16px;
}

.lightergrey {
    background-color: $lightergrey;
    color: $blue;
}

.lightblue {
    background-color: $lightblue;
    color: white;
}

.author {
    margin-left: .5rem;
}